---
import { getCollection } from 'astro:content';
import Hero from '../components/Hero.astro';
import PostPreview from '../components/PostPreview.astro';
import siteConfig from '../data/site-config';
import BaseLayout from '../layouts/BaseLayout.astro';
import { sortItemsByDateDesc } from '../utils/data-utils';

const posts = (await getCollection('blog')).sort(sortItemsByDateDesc);
---

<BaseLayout description={siteConfig.description} image={siteConfig.image}>
    <Hero />

    {
        posts?.length > 0 && (
            <div class="mb-16 sm:mb-24">
                {posts.map((post) => (
                    <PostPreview post={post} class="mb-10 sm:mb-12" headingLevel="h3" />
                ))}
            </div>
        )
    }
</BaseLayout>
